body {

    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);

    font-family: Arial;

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    margin: 0;

}


.chat-container {

    width: 400px;

    height: 600px;

    background: white;

    border-radius: 15px;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);

    display: flex;

    flex-direction: column;

    overflow: hidden;

}



.chat-header {

    background: #1f4068;

    color: white;

    padding: 15px;

    font-size: 20px;

    font-weight: bold;

    text-align: center;

}

.chat-header span {

    display: block;

    font-size: 12px;

    color: #ccc;

}


.chat-box {

    flex: 1;

    padding: 15px;

    overflow-y: auto;

    background: #f4f7f9;

}


.bot-message,
.user-message {

    padding: 10px;

    margin: 10px;

    border-radius: 10px;

    max-width: 75%;

    white-space: pre-line;

}


.bot-message {

    background: #e3f2fd;

    align-self: flex-start;

}


.user-message {

    background: #1f4068;

    color: white;

    align-self: flex-end;

    margin-left: auto;

}



.chat-input-area {

    display: flex;

    border-top: 1px solid #ccc;

}


.chat-input-area input {

    flex: 1;

    padding: 10px;

    border: none;

    outline: none;

    font-size: 15px;

}


.chat-input-area button {

    background: #1f4068;

    color: white;

    border: none;

    padding: 10px 20px;

    cursor: pointer;

    font-size: 15px;

}


.chat-input-area button:hover {

    background: #162447;

}